<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" href="/">Task Tracker</a>
  <ng-container *ngIf="this.service.isUserSigned()">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="this.logout()">Log out</button>
  </ng-container>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
