<div [hidden]="this.loading">
<!--<h1>{{project.projectName}}</h1>
<p>Category: {{category.categoryName}}</p>
<p>Manager: {{manager.userName}}</p>
<p>{{project.description}}</p>
<p>Start time: {{project.startTime}}</p>
<p>Due time: {{project.dueTime}}</p>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userListModel" (click)="this.getUsers()">
  Users
</button>

<ng-container *ngIf="this.ownsProject()">
<button>123</button>
<button>1234</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal" data-whatever="@mdo">Add User</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTaskModal" data-whatever="@mdo">Create Task</button>
</ng-container>
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Add user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-employ-user [projectId]="this.project.id"></app-employ-user>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTaskModalLabel">Create task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-task-create [projectId]="this.project.id"></app-task-create>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="userListModel" tabindex="-1" role="dialog" aria-labelledby="userListModelTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userListModelTitle">Users</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let user of this.users">{{user.userName}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="accordion">
  <div class="card" *ngFor="let item of tasks">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#task' + item.id" aria-expanded="false" [attr.aria-controls]="'task' + item.id">
          {{item.taskName}}
        </button>
      </h5>
    </div>

    <div [attr.id]="'task' + item.id" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <app-task-page [task]="item"></app-task-page>
      </div>
    </div>
  </div>
</div>-->
<app-project-details [projectId]="projectId" (loadingEmitter)="this.loading = false"></app-project-details>
</div>

<div *ngIf="this.loading">Loading...</div>