  <div class="row">
    <div class="col-sm-4">
      <a *ngIf="this.service.isUserSigned()" class="btn btn-outline-success my-2 my-sm-0" routerLink="/dashboard/createProject">Create Project</a>
      <app-project-list></app-project-list>
    </div>
    <div class="col-sm-5">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3">
      <app-user-profile *ngIf="this.service.isUserSigned()"></app-user-profile>
      <app-login-page *ngIf="!this.service.isUserSigned()"></app-login-page>
    </div>
  </div>
