<form [formGroup]="service.createForm" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group">
    <label for="inputName">Task name</label>
    <input type="text" class="form-control" id="inuptName" placeholder="Enter name" formControlName="Name">
    <label class="text-danger" *ngIf="service.createForm.get('Name')?.touched && service.createForm.get('Name')?.errors?.required">This field is required</label>
  </div>
  <div class="form-group">
    <label for="inputDue">Due date</label>
    <input type="date" class="form-control" id="inuptDue" placeholder="Enter due date" formControlName="DueDate">
    <label class="text-danger" *ngIf="service.createForm.get('DueDate')?.touched && service.createForm.get('DueDate')?.errors?.required">This field is required</label>
  </div>
  <div class="form-group">
    <label for="inputCategory">Status</label>
    <select id="inputCategory" class="form-control" formControlName="StatusId">
      <option *ngFor="let item of statuses" [value]="item.id">{{item.statusName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <input type="text" class="form-control" id="inputDescription" placeholder="Enter description" formControlName="Description">
    <label class="text-danger" *ngIf="service.createForm.get('Description')?.touched && service.createForm.get('Description')?.errors?.required">This field is required</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!service.createForm.valid">Submit</button>
</form>
