<form [formGroup]="service.employForm" autocomplete="off" (submit)="onSubmit()" >
  <div class="form-group">
    <label for="recipient-name" class="col-form-label">User's email:</label>
    <input type="email" class="form-control" id="recipient-name" formControlName="Email">
  </div>
  <div class="form-group">
    <label for="inputrole">Role</label>
    <select id="inputrole" class="form-control" formControlName="Role">
      <option *ngFor="let item of roles" [value]="item.id" [ngStyle]="{'background-color': item.color}">{{item.roleName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="notify" class="col-form-label">Notify user?</label>
    <input type="checkbox" class="form-control" id="notify" formControlName="Notify">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
