<ng-container *ngIf="!this.register">
<form [formGroup]="service.loginForm" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group">
    <label for="inputName">User Name</label>
    <input type="text" class="form-control" id="inuptName" placeholder="Enter name" formControlName="Name">
    <label class="text-danger" *ngIf="service.loginForm.get('Name')?.touched && service.loginForm.get('Name')?.errors?.required">This field is required</label>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="Password">
    <label class="text-danger" *ngIf="service.loginForm.get('Password')?.touched && service.loginForm.get('Password')?.errors?.required">This field is required</label>
    <label class="text-danger" *ngIf="service.loginForm.get('Password')?.touched && service.loginForm.get('Password')?.errors?.minlength">Minimal length is 6 characters</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!service.loginForm.valid">Submit</button>
</form>
<a (click)="this.register=true">Register a new account</a>
</ng-container>
<ng-container *ngIf="this.register">
<form [formGroup]="service.registerForm" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" formControlName="Email">
    <label class="text-danger" *ngIf="service.registerForm.get('Email')?.touched && service.registerForm.get('Email')?.errors?.required">Email is required</label>
    <label class="text-danger" *ngIf="service.registerForm.get('Email')?.touched && service.registerForm.get('Email')?.errors?.email">Email is invalid</label>
  </div>
  <div class="form-group">
    <label for="inputName">User Name</label>
    <input type="text" class="form-control" id="inuptName" placeholder="Enter name" formControlName="UserName">
    <label class="text-danger" *ngIf="service.registerForm.get('UserName')?.touched && service.registerForm.get('UserName')?.errors?.required">This field is required</label>
  </div>
  <div formGroupName="Passwords">
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="Password">
      <label class="text-danger" *ngIf="service.registerForm.get('Passwords.Password')?.touched && service.registerForm.get('Passwords.Password')?.errors?.required">This field is required</label>
      <label class="text-danger" *ngIf="service.registerForm.get('Passwords.Password')?.touched && service.registerForm.get('Passwords.Password')?.errors?.minlength">Minimal length is 6 characters</label>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" formControlName="ConfirmPassword">
      <label class="text-danger" *ngIf="service.registerForm.get('Passwords.ConfirmPassword')?.touched && service.registerForm.get('Passwords.ConfirmPassword')?.errors?.required">This field is required</label>
      <label class="text-danger" *ngIf="service.registerForm.get('Passwords.ConfirmPassword')?.touched && service.registerForm.get('Passwords.ConfirmPassword')?.errors?.passwordMismatch">Passwords don't match</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!service.registerForm.valid">Submit</button>
</form>
<a (click)="this.register=false">Back to login</a>
</ng-container>
