<h2>{{this.task.taskName}}</h2>
<p>{{this.taskStatus.statusName}}</p>
<p>{{this.task.startTime}}</p>
<p>{{this.task.dueTime}}</p>
<p>{{this.task.description}}</p>

<div *ngFor="let item of updates">{{item.description}}
  <small>{{item.updateTime}}</small>
</div>
<div>
  <form [formGroup]="service.updateForm" autocomplete="off" (submit)="sendUpdate()">
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <input type="text" class="form-control" id="inputDescription" placeholder="Enter description" formControlName="Description">
      <label class="text-danger" *ngIf="service.createForm.get('Description')?.touched && service.createForm.get('Description')?.errors?.required">This field is required</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!service.updateForm.valid">Submit</button>
  </form>
</div>
