<form [formGroup]="service.createForm" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group">
    <label for="inputName">Project name</label>
    <input type="text" class="form-control" id="inuptName" placeholder="Enter name" formControlName="Name">
    <label class="text-danger" *ngIf="service.createForm.get('Name')?.touched && service.createForm.get('Name')?.errors?.required">This field is required</label>
  </div>
  <div class="form-group">
    <label for="inputColor">Color</label>
    <input type="color" class="form-control" id="inputColor" placeholder="Enter color" formControlName="Color">
    <label class="text-danger" *ngIf="service.createForm.get('Color')?.touched && service.createForm.get('Color')?.errors?.required">This field is required</label>
  </div>
  <div class="form-group">
    <label for="inputDue">Due date</label>
    <input type="date" class="form-control" id="inuptDue" placeholder="Enter due date" formControlName="DueDate">
    <label class="text-danger" *ngIf="service.createForm.get('DueDate')?.touched && service.createForm.get('DueDate')?.errors?.required">This field is required</label>
  </div>
  <div class="form-group">
    <label for="inputCategory">Category</label>
    <select id="inputCategory" class="form-control" formControlName="CategoryId">
      <option *ngFor="let item of categories" [value]="item.id">{{item.categoryName}}</option>
    </select>
  </div>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
   Create new category
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form [formGroup]="categoryService.createForm" autocomplete="off" (submit)="onCSubmit()">
        <div class="form-group">
          <label for="inputCName">Category name</label>
          <input type="text" class="form-control" id="inuptCName" placeholder="Enter name" formControlName="Name">
          <label class="text-danger" *ngIf="categoryService.createForm.get('Name')?.touched && categoryService.createForm.get('Name')?.errors?.required">This field is required</label>
          <label class="text-danger" *ngIf="categoryService.createForm.get('Name')?.touched && categoryService.createForm.get('Name')?.errors?.minlength">Minimal length is 5 characters</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!categoryService.createForm.valid">Submit</button>
      </form>
    </div>
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <input type="text" class="form-control" id="inputDescription" placeholder="Enter description" formControlName="Description">
    <label class="text-danger" *ngIf="service.createForm.get('Description')?.touched && service.createForm.get('Description')?.errors?.required">This field is required</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!service.createForm.valid">Submit</button>
</form>
