<div class="row" *ngFor="let project of projects">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" [ngStyle]="{'background-color': project.color}">
        <h5 class="card-title">{{project.projectName}}</h5>
        <p class="card-text">{{project.description}} {{project.completion}}%</p>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': project.completion+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <button  class="btn btn-primary" routerLink="projects/{{project.id}}">Details</button>
      </div>
    </div>
  </div>
</div>
